<div class="mid-full">
    <h3>Developers's can be contacted in 0x10c Forum.</h3>
    <ul class="left-item">
        <li><a target="_parent" href="http://0x10cforum.com/">0x10c Forum</a></li>
        <li><a target="_parent" href="http://www.0x10cforum.com/forum/m/4932880/viewthread/9918764-megastage/post/last#last">Megastage</a></li>
        <li><a target="_parent" href="http://www.0x10cforum.com/forum/m/4932880/viewthread/11421281-megastage-dev/post/last#last">Megastage Development</a></li>
        <li><a target="_parent" href="http://www.0x10cforum.com/forum/m/4932880/viewthread/11421258-megastage-info/post/last#last">Megastage Info</a></li>
    </ul>
    <br>
    <h3>Issues can be reported to Github projects</h3>
    <ul class="left-item">
        <li><a target="_parent" href="https://github.com/orlof/megastage">Megastage</a></li>
        <li><a target="_parent" href="https://github.com/Cryptix42/MegastageCS">Cryptix's Ship Control System</a></li>
        <li><a target="_parent" href="https://github.com/orlof/dcpu-admiral">Admiral</a></li>
    </ul>
    <br>
</div>
