{% import os %}
{% import os.path %}

<div class="mid-left" xmlns="http://www.w3.org/1999/html">
    <h3>Chapters</h3>
    <ul class="left-item">
        <li><a href="#Lore">Chapter I: The Lore</a></li>
        <li><a href="#DCPU">Chapter II: DCPU</a></li>
        <li><a href="#Tech">(Chapter IX: Technical)</a></li>
    </ul>
</div>
<div class="mid-right">
    <h1><a id="Lore">The Lore of Megastage</a></h1>
    <p class="txt-3">"We still stare at the Heavens while we should walk among the Stars" -- Uriel Uriel</p>
    <ul class="left-item">
        <li><a href="files/sophonts_handbook.txt">Sophont's Guidebook</a></li>
    </ul>
    <br>
    <h1><a id="DCPU">DCPU Documentation</a></h1>
    <h3>Hardware Specifications</h3>
    <ul class="left-item">
        {% for item in [ f for f in os.listdir("static/specs/") if os.path.isfile(os.path.join("static/specs/", f)) ] %}
        <li><a href="specs/{{item}}">{{item}}<br>
        </a></li>
        {% end %}
    </ul>
    <br>
    <h3>RFC: Hardware Specifications<br></h3>
    <ul class="left-item">
        {% for item in [ f for f in os.listdir("static/specs/proposals/") if os.path.isfile(os.path.join("static/specs/proposals/", f)) ] %}
        <li><a href="specs/proposals/{{item}}">{{item}}<br>
        </a></li>
        {% end %}
    </ul>
    <br>
    <h3>Original DCPU Hardware Specifications from 0x10c (Copyright 1985 Mojang)<br></h3>
    <p class="txt-2">I'll remove these immediately if requested by copyright owner!</p>
    <ul class="left-item">
        {% for item in [ f for f in os.listdir("static/specs/original/") if os.path.isfile(os.path.join("static/specs/original/", f)) ] %}
        <li><a href="specs/original/{{item}}">{{item}}<br>
        </a></li>
        {% end %}
    </ul>
    <br>
    <p class="txt-2"></p>
    <h1><a id="Tech">Technical</a></h1>
    <ul class="left-item">
        <li><a href="files/installation.txt">Installation Instructions</a></li>
    </ul>
</div>
