<div class="mid-full">
    <h3>Pre-Releases</h3>
    <p class="txt-1">Download Windows Installer (setup.exe) or Linux package from
    <a href="https://github.com/orlof/megastage/releases">GitHub</a></p>
    <br>
    <h3>Development Build</h3>
    <p class="txt-1">Latest development build is currently only available in
    <a href="megastage/megastage.zip">.zip archive</a></p>
    <br>
    <h3>Source Code</h3>
    <p class="txt-1"><a href="https://github.com/orlof/megastage/">Go to Github</a></p>
    <br>
    <h3>DCPU</h3>
    <p class="txt-1">DCPU software that has been tested with Megastage:</p>
    <ul class="left-item">
        <li><a href="https://github.com/Cryptix42/MegastageCS">Cryptix's Ship Control System<br></a></li>
        <li><a href="https://github.com/orlof/dcpu-admiral">Admiral<br></a></li>
    </ul>
    <br>
</div>
