<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Megastage</title>
  <meta name="description" content="Megastage development site">
  <meta name="keywords" content="cube world, sci-fi, space, game, development">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
<div class="left-gap1"><img src="images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
<div class="main">
<div class="header">
<div class="nav-area">
<ul class="nav">
  <li style="border: medium none ;"><a href="index.html">Homepage</a></li>
  <li><a href="media.html">Media</a></li>
  <li><a href="#">Blog</a></li>
  <li><a href="download.html">Download</a></li>
  <li><a href="manuals.html">Manuals</a></li>
  <li><a href="contact.html">Contact us<br>
    </a></li>
</ul>
</div>
<div class="banner-area"><img src="images/logo.png" alt="#" border="0"></div>
</div>
<div class="mid">
    {% module MainPage(filename=filename) %}
</div>
</div>
<div class="right-gap1"><img src="images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
</div>

<br>

</body>
</html>

