<div class="mid-left">
<h3>Main Menu<br>
</h3>
<ul class="left-item">
  <li><a href="../index.html#">Link 1<br>
    </a></li>
  <li><a href="../index.html#">Link 2<br>
    </a></li>
  <li><a href="../index.html#">Link 3<br>
    </a></li>
  <li><a href="../index.html#">Link 4<br>
    </a></li>
  <li><a href="../index.html#">Link 5<br>
    </a></li>
  <li><a href="../index.html#">Link 6<br>
    </a></li>
</ul>
</div>
<div class="mid-right">
<h1>Megastage</h1>
<p class="txt-1"> Megastage is a space game featuring DCPU, ship combat,
FPS, resource gathering, crafting and ship building.</p>
<p class="txt-1"> Development is still in very early phase.</p>
<br>
</div>
